// Specific CSS for your home-page
.home-landing-container {
    position: relative;
    top: 12vh;
    width: 100%;
    float: left;
    display: block;
}

h1.home-landing__logo {
    display: block;
    width: 100%;
    text-align: center;
    height: 17vh;
    float: left;
  }


.home-landing__search-contaner {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  
}

.home_landing__ctas {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
  

@media(max-height: 400px) and (max-width: 700px) {
  h1.home-landing__logo {
    display: none;

  }
}