<div class="ag-wrapper footer-height wireframe <%= "fixed-bottom" if params[:controller] == "pages" && params[:action] == "home" %>">
  <div class="ag-container footer-height wireframe" style="">
    <div class="footer-copyright" style="float: right; width: 100%;">
      <span style="color: #fff; float: right;">Made with <i class="fas fa-heart"></i> by <%= link_to "G. Perilli", "https://gperilli.dev/"%> </span>
    </div>
  </div>
</div>