<div class="ag-wrapper wireframe background-color" style="position: relative;">
    <div class="ag-container window-height-height-minus-footer-height wireframe" style="display: flex; position: relative; float: left; width: 100%;">
        <div class="top-container-after-nav-bar window-height-minus-nav-and-footer-height wireframe" style="outline: 5px solid red;">
        
            <%= render "shared/all-gore-full-text" %>

        </div>
    </div>
</div> 