<div class="ag-wrapper wireframe background-color" style="position: relative; height: 100vh;">
    <div class="ag-container wireframe background-color" style="display: flex; position: relative; float: left; width: 100%; height: 100%;">
        <div class="page-top-full-height-container wireframe" style="outline: 5px solid red;"></div>
    </div>
</div> 