.ag-button-brand-icon-outer-container {
  height: $ui-nav-icons-size;
  z-index: 99;
}

.ag-button-brand-icon-container {
  height: $ui-nav-icons-size;
  padding: 0px;
  overflow: hidden;
  z-index: 200;
  position: relative;
  flex-grow: 0;
  width: 150px;
  overflow: visible;
}



@media(max-width: 480px) {
  .ag-button-brand-icon-outer-container {
    width: $ui-nav-icons-size;
    height: $ui-nav-icons-size;
  }
  .ag-button-brand-icon-container {
    width: $ui-nav-icons-size;
    height: $ui-nav-icons-size;
    border-radius: 50%;
    background: transparent;
  }
}
